.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: space-around;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
}

#evaluation-form {
  border: steelblue solid 1px;
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: flex-end;
}

.fullname {
  border: rgb(21, 128, 0) solid 1px;
  display: flex;
}

.emailHome {
  border: tomato solid 1px;
  display: flex;
  flex-direction: row;
}
